/* *1. Header */
.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;

}

.icon {
    padding: 10px;
    min-width: 40px;
}
.input-field {
    width: 120%;
    padding: 10px;
    text-align: center;
}

/* *2. Slide body */
.container-slide {
    padding-top: 30px;
}

.col-slide-content {
    margin-top: 100px;
}

.btn-slide {
    margin-top: 25px;
}

#btn-browse-courses {
    width: 32%;
}

#btn-become-an-instructor {
    margin-left: 30px;
    width: 38%;
}
#slide-img {
    width: 60%;
    object-fit: cover;
}
/* *3. Courses content */
.first-body-container {
    margin-top: 20px;
}
.body-container {
    margin-top: 80px;
}
.course-title {
    margin-left: 15px;
    margin-bottom: 20px;
}
.course-card {
    border-radius: 10px;
}
/* Card Header */
.card-header {
    padding: 0;
}
.img-card-header {
    max-width: 100%;
    max-height: 100%;
    border-radius: 2px;
}
/* Card Body */
.card-body {
    padding-bottom: 5px;
}
i.fa-solid.fa-clock {
    padding-top: 2%;
}
.course-info {
    margin-left: 9px;
}
.price-course {
    text-decoration:line-through;
    margin-left: 7px;
}
/* Card Footer */
.img-teacher {
    width: 50px;
    border-radius: 50%;
}
.teacher-name {
    padding-top: 10px;
    margin-left: 15px;
}
i.fa-solid.fa-bookmark {
    padding-top: 15px;
}
/* *4. Footer */
.footer-link {
    margin-left: 250px;
}
